.slider-container {
    position: relative;
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
  
  .slider {
    display: flex;
    transition: transform 0.6s ease-in;
    height: 400px;
    -webkit-transition: transform 0.6s ease-in;
    -moz-transition: transform 0.6s ease-in;
    -ms-transition: transform 0.6s ease-in;
    -o-transition: transform 0.6s ease-in;
}
  
  .slide {
    min-width: 100%;
    display: table-row;
    align-items: center;
    justify-content: center;
  }

  
  .prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 10px;
    transition: background 0.3s;
    z-index: 10;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  
  .prev-btn:hover, .next-btn:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  
  .prev-btn {
    left: 20px;
  }
  
  .next-btn {
    right: 20px;
  }